<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../custom/styles.css">
</head>
<body>

<header>
    <div class="logo" onclick="location.href='/'">Nhóm 04</div>
    <div class="buttons">
        <button class="button active" onclick="location.href='/camera'">Giám sát</button>
        <button class="button" onclick="location.href='/chart'">Hệ thống</button>
        <button class="button" onclick="location.href='/fallchart'">Thống kê té ngã</button>
    </div>
</header>

<div class="content">
    <div class="tab">
        Welcome to the home page! Click a button to see more content.
    </div>
</div>

</body>
</html>